In [1]:
import pandas as pd
from sklearn.cross_validation import train_test_split
import seaborn
from sklearn.datasets import load_iris
import numpy as np
import pandas as pd
from sklearn import metrics

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [30]:
iris = load_iris()
X = iris.data
Y = iris.target

In [31]:
print(X.shape)
print(Y.shape)

(150, 4)
(150,)

In [32]:
from sklearn.neighbors import KNeighborsClassifier

In [33]:
knn = KNeighborsClassifier(n_neighbors = 5)

In [34]:
print (knn)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [35]:
knn.fit(X,Y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [36]:
y_pred = knn.predict(X)

In [37]:
print(metrics.accuracy_score(Y,y_pred))

0.966666666667

In [40]:
data = pd.read_csv("http://www-bcf.usc.edu/~gareth/ISL/Advertising.csv",index_col=0)

In [44]:
data.head()

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [46]:
X = data[['TV','Radio','Sales']]

In [47]:
X.head()

      TV  Radio  Sales
1  230.1   37.8   22.1
2   44.5   39.3   10.4
3   17.2   45.9    9.3
4  151.5   41.3   18.5
5  180.8   10.8   12.9

In [50]:
X = iris.data
Y = iris.target

In [54]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,random_state=4)
knn.fit(X_train,Y_train)
Y_pred = knn.predict(X_test)
print(metrics.accuracy_score(Y_test,Y_pred))

0.973684210526