In [1]:
import pandas as pd
import numpy as np

In [2]:
ratings = pd.read_csv("http://bit.ly/imdbratings")

In [3]:
ratings.head(5)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [4]:
ratings['title'].head()

0    The Shawshank Redemption
1               The Godfather
2      The Godfather: Part II
3             The Dark Knight
4                Pulp Fiction
Name: title, dtype: object

In [5]:
ratings["movie_genre"] = ratings['title']+','+ratings['genre']

In [6]:
ratings['movie_genre'].head()

0    The Shawshank Redemption,Crime
1               The Godfather,Crime
2      The Godfather: Part II,Crime
3            The Dark Knight,Action
4                Pulp Fiction,Crime
Name: movie_genre, dtype: object

In [7]:
ratings.head()

,star_rating,title,content_rating,genre,duration,actors_list,movie_genre
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...","The Shawshank Redemption,Crime"
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']","The Godfather,Crime"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...","The Godfather: Part II,Crime"
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...","The Dark Knight,Action"
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....","Pulp Fiction,Crime"

ratings.head()

In [8]:
ratings.head()

,star_rating,title,content_rating,genre,duration,actors_list,movie_genre
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...","The Shawshank Redemption,Crime"
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']","The Godfather,Crime"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...","The Godfather: Part II,Crime"
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...","The Dark Knight,Action"
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....","Pulp Fiction,Crime"

In [9]:
x = ['a','b','c','d']

In [10]:
y = ['l','m','n','o']

In [11]:
z = dict(zip(x,y))

In [12]:
z

{'a': 'l', 'b': 'm', 'c': 'n', 'd': 'o'}

In [13]:
ratings['star_rating'].sort_values().head()

978    7.4
950    7.4
949    7.4
948    7.4
947    7.4
Name: star_rating, dtype: float64

In [14]:
ratings[ratings['duration'] <= 90]['star_rating'].mean()

7.848101265822785

In [15]:
np.array(range(90,201))

array([ 90,  91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102,
       103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115,
       116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128,
       129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141,
       142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154,
       155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167,
       168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180,
       181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193,
       194, 195, 196, 197, 198, 199, 200])

In [16]:
ratings['star_rating'].dtype

dtype('float64')

In [17]:
ratings['duration'].dtype

dtype('int64')

In [18]:
ratings.groupby('genre')['star_rating'].sum().sort_values()

genre
Fantasy         7.7
History         8.0
Family         15.7
Film-Noir      24.1
Thriller       38.4
Sci-Fi         39.6
Western        74.3
Mystery       127.6
Horror        226.4
Animation     490.7
Adventure     595.0
Biography     605.4
Crime         981.7
Action       1072.3
Comedy       1220.3
Drama        2196.9
Name: star_rating, dtype: float64

In [19]:
ratings.genre.describe()

count       979
unique       16
top       Drama
freq        278
Name: genre, dtype: object

In [20]:
ratings.groupby('genre')['genre'].value_counts().sort_values()

genre      genre
Fantasy    Fantasy        1
History    History        1
Family     Family         2
Film-Noir  Film-Noir      3
Sci-Fi     Sci-Fi         5
Thriller   Thriller       5
Western    Western        9
Mystery    Mystery       16
Horror     Horror        29
Animation  Animation     62
Adventure  Adventure     75
Biography  Biography     77
Crime      Crime        124
Action     Action       136
Comedy     Comedy       156
Drama      Drama        278
Name: genre, dtype: int64

In [21]:
pd.crosstab(ratings['genre'],ratings['content_rating'])

content_rating,APPROVED,G,GP,NC-17,NOT RATED,PASSED,PG,PG-13,R,TV-MA,UNRATED,X
genre,,,,,,,,,,,,
Action,3,1,1,0,4,1,11,44,67,0,3,0
Adventure,3,2,0,0,5,1,21,23,17,0,2,0
Animation,3,20,0,0,3,0,25,5,5,0,1,0
Biography,1,2,1,0,1,0,6,29,36,0,0,0
Comedy,9,2,1,1,16,3,23,23,73,0,4,1
Crime,6,0,0,1,7,1,6,4,87,0,11,1
Drama,12,3,0,4,24,1,25,55,143,1,9,1
Family,0,1,0,0,0,0,1,0,0,0,0,0
Fantasy,0,0,0,0,0,0,0,0,1,0,0,0
Film-Noir,1,0,0,0,1,0,0,0,0,0,1,0
History,0,0,0,0,0,0,0,0,0,0,1,0
Horror,2,0,0,1,1,0,1,2,16,0,5,1
Mystery,4,1,0,0,1,0,1,2,6,0,1,0
Sci-Fi,1,0,0,0,0,0,0,1,3,0,0,0
Thriller,1,0,0,0,0,0,1,0,3,0,0,0
Western,1,0,0,0,2,0,2,1,3,0,0,0

In [22]:
x = pd.DataFrame()

In [23]:
x['second'] = ratings['duration']*5

In [24]:
x.head()

   second
0     710
1     875
2    1000
3     760
4     770

In [25]:
x.index

RangeIndex(start=0, stop=979, step=1)

In [26]:
x['rating'] = ratings['star_rating']

In [27]:
x.head()

   second  rating
0     710     9.3
1     875     9.2
2    1000     9.1
3     760     9.0
4     770     8.9

In [28]:
x.rename(columns={"rating":"star_rating"},inplace=True)

In [29]:
x.head()

   second  star_rating
0     710          9.3
1     875          9.2
2    1000          9.1
3     760          9.0
4     770          8.9

In [30]:
pd.merge(ratings,x,on="star_rating").head()

,star_rating,title,content_rating,genre,duration,actors_list,movie_genre,second
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...","The Shawshank Redemption,Crime",710
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']","The Godfather,Crime",875
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...","The Godfather: Part II,Crime",1000
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...","The Dark Knight,Action",760
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....","Pulp Fiction,Crime",770

In [31]:
pokemon = pd.read_csv('Pokemon.csv')

In [32]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [33]:
pokemon.set_index('#',inplace=True)

In [34]:
pokemon.groupby("Type 1").sum().sort_values("Speed",ascending=False)

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,
Water,48211,8071,8305,8170,8379,7898,7388,320,4.0
Normal,39365,7573,7200,5865,5470,6245,7012,299,2.0
Psychic,27129,4026,4073,3858,5609,4918,4645,193,14.0
Grass,29480,4709,5125,4956,5425,4930,4335,235,3.0
Bug,26146,3925,4897,4880,3717,4471,4256,222,0.0
Fire,23820,3635,4408,3524,4627,3755,3871,167,5.0
Electric,19510,2631,3040,2917,3961,3243,3718,144,4.0
Dragon,17617,2666,3588,2764,3099,2843,2657,124,12.0
Rock,19965,2876,4086,4435,2787,3321,2460,152,4.0
Dark,13818,2071,2740,2177,2314,2155,2361,125,2.0
Ghost,14066,2062,2361,2598,2539,2447,2059,134,2.0
Ground,14000,2361,3064,2715,1807,2008,2045,101,4.0
Fighting,11244,1886,2613,1780,1434,1747,1784,91,0.0
Poison,11176,1883,2091,1927,1692,1803,1780,71,0.0
Ice,10403,1728,1746,1714,1861,1831,1523,85,2.0
Steel,13168,1761,2503,3412,1823,2177,1492,104,4.0
Fairy,7024,1260,1046,1117,1335,1440,826,70,1.0
Flying,1940,283,315,265,377,290,410,22,2.0

In [35]:
pokemon[pokemon['Type 1'] == "Water"]['Name']

#
7                     Squirtle
8                    Wartortle
9                    Blastoise
9      BlastoiseMega Blastoise
54                     Psyduck
55                     Golduck
60                     Poliwag
61                   Poliwhirl
62                   Poliwrath
72                   Tentacool
73                  Tentacruel
79                    Slowpoke
80                     Slowbro
80         SlowbroMega Slowbro
86                        Seel
87                     Dewgong
90                    Shellder
91                    Cloyster
98                      Krabby
99                     Kingler
116                     Horsea
117                     Seadra
118                    Goldeen
119                    Seaking
120                     Staryu
121                    Starmie
129                   Magikarp
130                   Gyarados
130      GyaradosMega Gyarados
131                     Lapras
                ...
423                  Gastrodon
456                    Finneon
457                   Lumineon
458                    Mantyke
484                     Palkia
489                     Phione
490                    Manaphy
501                   Oshawott
502                     Dewott
503                   Samurott
515                    Panpour
516                   Simipour
535                    Tympole
536                  Palpitoad
537                 Seismitoad
550                   Basculin
564                   Tirtouga
565                 Carracosta
580                   Ducklett
581                     Swanna
592                   Frillish
593                  Jellicent
594                  Alomomola
647       KeldeoOrdinary Forme
647       KeldeoResolute Forme
656                    Froakie
657                  Frogadier
658                   Greninja
692                  Clauncher
693                  Clawitzer
Name: Name, Length: 112, dtype: object

In [36]:
pokemon.describe()

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [37]:
pokemon.shape

(800, 12)

In [38]:
pokemon.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [39]:
pokemon.loc[(pokemon['HP']>=50) & (pokemon['Attack']>=180),['Speed','Name']]

     Speed                     Name
#
150    130      MewtwoMega Mewtwo X
214     75  HeracrossMega Heracross
383     90    GroudonPrimal Groudon
384    115    RayquazaMega Rayquaza
386    150       DeoxysAttack Forme

In [40]:
pokemon['Type 2'].fillna(value = 'Type1Only', inplace = True)

In [41]:
pokemon.head(20)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,Type1Only,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,Type1Only,405,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
7,Squirtle,Water,Type1Only,314,44,48,65,50,64,43,1,False
8,Wartortle,Water,Type1Only,405,59,63,80,65,80,58,1,False
9,Blastoise,Water,Type1Only,530,79,83,100,85,105,78,1,False
9,BlastoiseMega Blastoise,Water,Type1Only,630,79,103,120,135,115,78,1,False
10,Caterpie,Bug,Type1Only,195,45,30,35,20,20,45,1,False
11,Metapod,Bug,Type1Only,205,50,20,55,25,25,30,1,False
12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False
15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False

In [42]:
pokemon.groupby("Type 1")["Type 1"].sum()

Type 1
Bug         BugBugBugBugBugBugBugBugBugBugBugBugBugBugBugB...
Dark        DarkDarkDarkDarkDarkDarkDarkDarkDarkDarkDarkDa...
Dragon      DragonDragonDragonDragonDragonDragonDragonDrag...
Electric    ElectricElectricElectricElectricElectricElectr...
Fairy       FairyFairyFairyFairyFairyFairyFairyFairyFairyF...
Fighting    FightingFightingFightingFightingFightingFighti...
Fire        FireFireFireFireFireFireFireFireFireFireFireFi...
Flying                               FlyingFlyingFlyingFlying
Ghost       GhostGhostGhostGhostGhostGhostGhostGhostGhostG...
Grass       GrassGrassGrassGrassGrassGrassGrassGrassGrassG...
Ground      GroundGroundGroundGroundGroundGroundGroundGrou...
Ice         IceIceIceIceIceIceIceIceIceIceIceIceIceIceIceI...
Normal      NormalNormalNormalNormalNormalNormalNormalNorm...
Poison      PoisonPoisonPoisonPoisonPoisonPoisonPoisonPois...
Psychic     PsychicPsychicPsychicPsychicPsychicPsychicPsyc...
Rock        RockRockRockRockRockRockRockRockRockRockRockRo...
Steel       SteelSteelSteelSteelSteelSteelSteelSteelSteelS...
Water       WaterWaterWaterWaterWaterWaterWaterWaterWaterW...
Name: Type 1, dtype: object

In [43]:
pokemon[(pokemon['Legendary'] == True) & (pokemon['Generation'] == 1)]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
150,Mewtwo,Psychic,Type1Only,680,106,110,90,154,90,130,1,True
150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
150,MewtwoMega Mewtwo Y,Psychic,Type1Only,780,106,150,70,194,120,140,1,True

In [44]:
pokemon.shape

(800, 12)

In [45]:
pokemon['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [46]:
li = list(pokemon['Type 1'].unique())

In [47]:
li

['Grass',
 'Fire',
 'Water',
 'Bug',
 'Normal',
 'Poison',
 'Electric',
 'Ground',
 'Fairy',
 'Fighting',
 'Psychic',
 'Rock',
 'Ghost',
 'Ice',
 'Dragon',
 'Dark',
 'Steel',
 'Flying']

In [48]:
len(li)

18

In [49]:
di = dict(zip(li,range(18)))

In [50]:
di = dict({'tn':range(18),'ts':li})

In [51]:
poke = pd.DataFrame(di)

In [52]:
poke

    tn        ts
0    0     Grass
1    1      Fire
2    2     Water
3    3       Bug
4    4    Normal
5    5    Poison
6    6  Electric
7    7    Ground
8    8     Fairy
9    9  Fighting
10  10   Psychic
11  11      Rock
12  12     Ghost
13  13       Ice
14  14    Dragon
15  15      Dark
16  16     Steel
17  17    Flying

In [53]:
di1 = dict({'tn':[18],'ts':['Type1Only']})

In [54]:
df=pd.DataFrame(di1)

In [55]:
poke = poke.append(df,ignore_index=True)

In [56]:
poke

    tn         ts
0    0      Grass
1    1       Fire
2    2      Water
3    3        Bug
4    4     Normal
5    5     Poison
6    6   Electric
7    7     Ground
8    8      Fairy
9    9   Fighting
10  10    Psychic
11  11       Rock
12  12      Ghost
13  13        Ice
14  14     Dragon
15  15       Dark
16  16      Steel
17  17     Flying
18  18  Type1Only

In [57]:
#poke.rename(columns = {'Type 2':'Type 1','tn':'tn1'},inplace=True)

In [58]:
#p2 = pd.merge(pokemon,poke,how='outer',on='Type 1')

In [59]:
pokenew.head()

NameError: name 'pokenew' is not defined

In [ ]:
p3 = pd.DataFrame(poke.rename(columns = {'Type 1':'Type 2','tn1':'tn'}))

In [ ]:
pokenew = pd.merge(p2,p3,how='outer',on='Type 2')

In [ ]:
pokenew.dtypes

In [ ]:
pokenew.tail()

In [ ]:
pokenew.drop([800],axis=0,inplace=True)

In [ ]:
pokenew.tail()

In [ ]:
for x in pokenew.columns[4:11]:
    pokenew[x] = pokenew[x].astype(int)

In [ ]:
pokenew.head(10)

In [ ]:
pokenew['Name_length'] = pokenew['Name'].apply(len)

In [ ]:
pokenew.loc[pokenew['Legendary'] == True,['Name','Name_length','Legendary']]
pokenew.groupby('Legendary')['Name_length','Generation'].mean()

In [ ]:
x=[1,2,3,4]
y=[7,3,1,7]
z = dict(zip(x,y))

In [ ]:
n=10
n

In [60]:
pokemon.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,Type1Only,309,39,52,43,60,50,65,1,False

In [61]:
pokemon.groupby('Type 1')['HP'].mean()

Type 1
Bug         56.884058
Dark        66.806452
Dragon      83.312500
Electric    59.795455
Fairy       74.117647
Fighting    69.851852
Fire        69.903846
Flying      70.750000
Ghost       64.437500
Grass       67.271429
Ground      73.781250
Ice         72.000000
Normal      77.275510
Poison      67.250000
Psychic     70.631579
Rock        65.363636
Steel       65.222222
Water       72.062500
Name: HP, dtype: float64

In [78]:
df = pokemon.groupby('Type 1').agg({'HP':['min','max','mean'],'Attack':['mean','sum','count']})

In [79]:
df.head()

          HP                      Attack
         min  max       mean        mean   sum count
Type 1
Bug        1   86  56.884058   70.971014  4897    69
Dark      35  126  66.806452   88.387097  2740    31
Dragon    41  125  83.312500  112.125000  3588    32
Electric  20   90  59.795455   69.090909  3040    44
Fairy     35  126  74.117647   61.529412  1046    17

In [80]:
df.columns

MultiIndex(levels=[['HP', 'Attack'], ['count', 'max', 'mean', 'min', 'sum']],
           labels=[[0, 0, 0, 1, 1, 1], [3, 1, 2, 2, 4, 0]])

In [81]:
df.index

Index(['Bug', 'Dark', 'Dragon', 'Electric', 'Fairy', 'Fighting', 'Fire',
       'Flying', 'Ghost', 'Grass', 'Ground', 'Ice', 'Normal', 'Poison',
       'Psychic', 'Rock', 'Steel', 'Water'],
      dtype='object', name='Type 1')

In [1]:
from scipy.stats import t

In [2]:
mean, var, skew, kurt = t.stats(9, moments='mvsk')

In [3]:
mean

array(0.0)

In [4]:
var

array(1.2857142857142858)

In [5]:
skew

array(0.0)

In [6]:
kurt

array(1.2)

In [11]:
x = t.cdf(-3.9,9)

In [12]:
x

0.0027549225751774152